In [13]:
import pandas as pd
import numpy as np

In [14]:
automobile_data = pd.read_csv('datasets/Automobile_data.csv', 
                              sep=r'\s*,\s*', 
                              engine='python')

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/Automobile_data.csv'

In [1]:
automobile_data = np.array([1,2])
automobile_datar

NameError: name 'np' is not defined

In [2]:
import numpy as np

In [16]:
automobile_data = automobile_data.replace('?', np.nan)
automobile_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>"3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,168.80,64.10,48.80,2548,dohc,four,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495"</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>"3,?,alfa-romero,gas,std,two,convertible,rwd,f...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>"1,?,alfa-romero,gas,std,two,hatchback,rwd,fro...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>"2,164,audi,gas,std,four,sedan,fwd,front,99.80...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>"2,164,audi,gas,std,four,sedan,4wd,front,99.40...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>"2,?,audi,gas,std,two,sedan,fwd,front,99.80,17...</td>
    </tr>
  </tbody>
</table>
</div>